{
  "openapi": "3.0.0",
  "info": {
    "title": "Hogan Lovells Integra Ledger API",
    "description": "API for interacting with Integra Ledger blockchain contracts. This service provides endpoints for registering contracts and querying blockchain data.",
    "version": "1.0.0",
    "contact": {
      "name": "Integra Ledger Support",
      "email": "support@integraledger.com"
    }
  },
  "servers": [
    {
      "url": "https://hl.trustwithintegra.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Service Health Check",
        "description": "Returns basic service information and status",
        "tags": ["Health"],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is running",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "service": {
                      "type": "string",
                      "example": "hogan-lovells-endpoints"
                    },
                    "version": {
                      "type": "string",
                      "example": "1.0.0"
                    },
                    "status": {
                      "type": "string",
                      "example": "running"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/integraledger/register": {
      "post": {
        "summary": "Register Contract",
        "description": "Registers a new contract on the Integra Ledger blockchain. Returns a transaction hash that can be used to track the registration status.",
        "tags": ["Contract Operations"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterContractRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contract registration transaction sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterContractResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/integraledger/query/transactionHash/{txHash}": {
      "get": {
        "summary": "Query by Transaction Hash",
        "description": "Retrieves transaction details and contract data by blockchain transaction hash",
        "tags": ["Query Operations"],
        "parameters": [
          {
            "name": "txHash",
            "in": "path",
            "required": true,
            "description": "Blockchain transaction hash (64 character hex string with 0x prefix)",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{64}$",
              "example": "0x3bf0624ca06aa266a45a35881f1d0726d0d74521ff29be0d79c0d040e25b7224"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/integraledger/query/documentHash/{documentHash}": {
      "get": {
        "summary": "Query by Document Hash",
        "description": "Retrieves all blockchain events associated with a specific document hash",
        "tags": ["Query Operations"],
        "parameters": [
          {
            "name": "documentHash",
            "in": "path",
            "required": true,
            "description": "Document hash to search for (64 character hex string with 0x prefix)",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{64}$",
              "example": "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/integraledger/query/integraHash/{integraHash}": {
      "get": {
        "summary": "Query by Integra Hash",
        "description": "Retrieves all blockchain events associated with a specific Integra hash",
        "tags": ["Query Operations"],
        "parameters": [
          {
            "name": "integraHash",
            "in": "path",
            "required": true,
            "description": "Integra hash to search for (64 character hex string with 0x prefix)",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{64}$",
              "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegraQueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "API token provided by Integra Ledger"
      }
    },
    "schemas": {
      "RegisterContractRequest": {
        "type": "object",
        "required": ["integraHash", "documentHash", "encryptedData"],
        "properties": {
          "integraHash": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{64}$",
            "description": "Integra hash (32 bytes hex string with 0x prefix)",
            "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
          },
          "documentHash": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{64}$",
            "description": "Document hash (32 bytes hex string with 0x prefix)",
            "example": "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
          },
          "encryptedData": {
            "type": "string",
            "description": "Encrypted data to store on the blockchain",
            "example": "encrypted-document-data"
          }
        }
      },
      "RegisterContractResponse": {
        "type": "object",
        "properties": {
          "transactionHash": {
            "type": "string",
            "description": "Blockchain transaction hash",
            "example": "0x3bf0624ca06aa266a45a35881f1d0726d0d74521ff29be0d79c0d040e25b7224"
          },
          "status": {
            "type": "string",
            "description": "Transaction status",
            "example": "sent"
          },
          "message": {
            "type": "string",
            "description": "Status message",
            "example": "Contract registration transaction sent successfully"
          }
        }
      },
      "TransactionQueryResponse": {
        "type": "object",
        "properties": {
          "transactionHash": {
            "type": "string",
            "description": "Transaction hash"
          },
          "blockNumber": {
            "type": "integer",
            "description": "Block number where transaction was mined"
          },
          "status": {
            "type": "string",
            "enum": ["success", "failed"],
            "description": "Transaction execution status"
          },
          "contractAddress": {
            "type": "string",
            "nullable": true,
            "description": "Contract address if contract was created"
          },
          "from": {
            "type": "string",
            "description": "Transaction sender address"
          },
          "to": {
            "type": "string",
            "description": "Transaction recipient address"
          },
          "gasUsed": {
            "type": "integer",
            "description": "Amount of gas used"
          },
          "events": {
            "type": "array",
            "description": "Parsed blockchain events",
            "items": {
              "$ref": "#/components/schemas/BlockchainEvent"
            }
          }
        }
      },
      "DocumentQueryResponse": {
        "type": "object",
        "properties": {
          "documentHash": {
            "type": "string",
            "description": "Document hash that was queried"
          },
          "count": {
            "type": "integer",
            "description": "Number of events found"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataStoredEvent"
            }
          }
        }
      },
      "IntegraQueryResponse": {
        "type": "object",
        "properties": {
          "integraHash": {
            "type": "string",
            "description": "Integra hash that was queried"
          },
          "count": {
            "type": "integer",
            "description": "Number of events found"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataStoredEvent"
            }
          }
        }
      },
      "DataStoredEvent": {
        "type": "object",
        "properties": {
          "transactionHash": {
            "type": "string",
            "description": "Transaction hash where event was emitted"
          },
          "blockNumber": {
            "type": "integer",
            "description": "Block number where event was emitted"
          },
          "integraHash": {
            "type": "string",
            "description": "Integra hash from the event"
          },
          "documentHash": {
            "type": "string",
            "description": "Document hash from the event"
          },
          "referenceHash": {
            "type": "string",
            "description": "Reference hash from the event"
          },
          "issuer": {
            "type": "string",
            "description": "Address that issued the transaction"
          },
          "encryptedData": {
            "type": "string",
            "description": "Encrypted data stored in the event"
          }
        }
      },
      "BlockchainEvent": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Event name"
          },
          "signature": {
            "type": "string",
            "description": "Event signature"
          },
          "topic": {
            "type": "string",
            "description": "Event topic hash"
          },
          "args": {
            "type": "array",
            "description": "Event arguments",
            "items": {}
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code",
                "example": "UNAUTHORIZED"
              },
              "message": {
                "type": "string",
                "description": "Error message",
                "example": "Invalid API token"
              },
              "correlationId": {
                "type": "string",
                "description": "Request correlation ID for debugging",
                "example": "4945ef62-1db9-43b4-b0e5-9dd9bc65626e"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Health",
      "description": "Service health and status endpoints"
    },
    {
      "name": "Contract Operations",
      "description": "Operations for registering contracts on the blockchain"
    },
    {
      "name": "Query Operations",
      "description": "Operations for querying blockchain data"
    }
  ]
}