{
  "openapi": "3.0.3",
  "info": {
    "title": "Integra Universal API",
    "version": "1.0.0",
    "description": "Public-facing API for Integra services providing access to workflows, blockchain chains, and transaction data.",
    "contact": {
      "name": "Integra API Support",
      "url": "https://integra.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.integra.dev/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8787/v1",
      "description": "Local development server"
    }
  ],
  "security": [
    {
      "gatewayAuth": []
    }
  ],
  "paths": {
    "/workflows": {
      "get": {
        "summary": "List workflows",
        "description": "Retrieve a paginated list of all workflows",
        "operationId": "listWorkflows",
        "tags": ["Workflows"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (1-100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search query for workflow name or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowListResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/workflows/{id}": {
      "get": {
        "summary": "Get workflow by ID",
        "description": "Retrieve a specific workflow by its ID",
        "operationId": "getWorkflowById",
        "tags": ["Workflows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workflow ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/workflows/by-name/{name}": {
      "get": {
        "summary": "Get workflow by name",
        "description": "Retrieve a workflow by its name, optionally filtered by version",
        "operationId": "getWorkflowByName",
        "tags": ["Workflows"],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Workflow name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Workflow version",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/chains": {
      "get": {
        "summary": "List chains",
        "description": "Retrieve a paginated list of supported blockchain chains",
        "operationId": "listChains",
        "tags": ["Chains"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network_type",
            "in": "query",
            "description": "Filter by network type (mainnet, testnet)",
            "schema": {
              "type": "string",
              "enum": ["mainnet", "testnet"]
            }
          },
          {
            "name": "chain_type",
            "in": "query",
            "description": "Filter by chain type (evm, solana, etc.)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_testnet",
            "in": "query",
            "description": "Filter by testnet status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "layer",
            "in": "query",
            "description": "Filter by layer (L1, L2, etc.)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChainListResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/chains/{chainId}": {
      "get": {
        "summary": "Get chain by ID",
        "description": "Retrieve a specific chain by its ID, optionally including RPC providers and block explorers",
        "operationId": "getChainById",
        "tags": ["Chains"],
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "description": "Chain ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include_details",
            "in": "query",
            "description": "Include RPC providers and block explorers",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/chains/{chainId}/rpc-providers": {
      "get": {
        "summary": "Get RPC providers for chain",
        "description": "Retrieve all RPC providers for a specific chain",
        "operationId": "getRpcProviders",
        "tags": ["Chains"],
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chain_id": {
                      "type": "integer"
                    },
                    "rpc_providers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RpcProvider"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/chains/{chainId}/block-explorers": {
      "get": {
        "summary": "Get block explorers for chain",
        "description": "Retrieve all block explorers for a specific chain",
        "operationId": "getBlockExplorers",
        "tags": ["Chains"],
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chain_id": {
                      "type": "integer"
                    },
                    "block_explorers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlockExplorer"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "summary": "List transactions",
        "description": "Retrieve a paginated list of transactions with optional filters",
        "operationId": "listTransactions",
        "tags": ["Transactions"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contract_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contract_address",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_block",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to_block",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "from_timestamp",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to_timestamp",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionListResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "summary": "Create transaction",
        "description": "Create a new transaction record",
        "operationId": "createTransaction",
        "tags": ["Transactions"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/transactions/{id}": {
      "get": {
        "summary": "Get transaction by ID",
        "description": "Retrieve a specific transaction by its ID",
        "operationId": "getTransactionById",
        "tags": ["Transactions"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/transactions/{id}/status": {
      "patch": {
        "summary": "Update transaction status",
        "description": "Update the event_published status of a transaction",
        "operationId": "updateTransactionStatus",
        "tags": ["Transactions"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["event_published"],
                "properties": {
                  "event_published": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/transactions/by-hash/{hash}": {
      "get": {
        "summary": "Get transaction by hash",
        "description": "Retrieve a transaction by its hash",
        "operationId": "getTransactionByHash",
        "tags": ["Transactions"],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/transactions/by-block/{chainId}/{blockNumber}": {
      "get": {
        "summary": "Get transactions by block",
        "description": "Retrieve all transactions for a specific block",
        "operationId": "getTransactionsByBlock",
        "tags": ["Transactions"],
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "blockNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chain_id": {
                      "type": "integer"
                    },
                    "block_number": {
                      "type": "integer"
                    },
                    "transactions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transaction"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/transactions/by-contract/{chainId}/{address}": {
      "get": {
        "summary": "Get transactions by contract",
        "description": "Retrieve all transactions for a specific contract with pagination",
        "operationId": "getTransactionsByContract",
        "tags": ["Transactions"],
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "chain_id": {
                          "type": "integer"
                        },
                        "contract_address": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/TransactionListResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "gatewayAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key authentication handled by Gateway Worker. Requests are forwarded with X-Org-ID, X-API-Key-ID, and X-Org-Scopes headers."
      }
    },
    "schemas": {
      "Workflow": {
        "type": "object",
        "properties": {
          "workflow_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "manifest": {
            "type": "object"
          },
          "github_sha": {
            "type": "string",
            "nullable": true
          },
          "is_active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "WorkflowListResponse": {
        "type": "object",
        "properties": {
          "workflows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Workflow"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "Chain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "chain_id": {
            "type": "integer"
          },
          "chain_name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "chain_type": {
            "type": "string",
            "nullable": true
          },
          "icon_url": {
            "type": "string",
            "nullable": true
          },
          "logo_url": {
            "type": "string",
            "nullable": true
          },
          "native_currency": {
            "type": "object",
            "properties": {
              "symbol": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "decimals": {
                "type": "integer"
              }
            }
          },
          "network_type": {
            "type": "string",
            "nullable": true
          },
          "layer": {
            "type": "string",
            "nullable": true
          },
          "is_active": {
            "type": "boolean"
          },
          "is_testnet": {
            "type": "boolean"
          },
          "supports_eip1559": {
            "type": "boolean"
          },
          "rpc_providers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RpcProvider"
            }
          },
          "block_explorers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BlockExplorer"
            }
          }
        }
      },
      "ChainListResponse": {
        "type": "object",
        "properties": {
          "chains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Chain"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "RpcProvider": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "chain_id": {
            "type": "integer"
          },
          "provider_name": {
            "type": "string"
          },
          "provider_type": {
            "type": "string"
          },
          "http_url": {
            "type": "string"
          },
          "ws_url": {
            "type": "string",
            "nullable": true
          },
          "is_default": {
            "type": "integer"
          },
          "is_healthy": {
            "type": "integer"
          }
        }
      },
      "BlockExplorer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "chain_id": {
            "type": "integer"
          },
          "explorer_name": {
            "type": "string"
          },
          "base_url": {
            "type": "string"
          },
          "api_url": {
            "type": "string",
            "nullable": true
          },
          "is_default": {
            "type": "integer"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "chain_id": {
            "type": "integer"
          },
          "contract_type": {
            "type": "string"
          },
          "contract_address": {
            "type": "string"
          },
          "block_number": {
            "type": "integer"
          },
          "block_timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "transaction_hash": {
            "type": "string"
          },
          "transaction_data": {
            "type": "object"
          },
          "receipt_data": {
            "type": "object"
          },
          "raw_input": {
            "type": "string"
          },
          "parsed_input": {
            "type": "object",
            "nullable": true
          },
          "parsed_events": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "nullable": true
          },
          "document_data": {
            "type": "object",
            "nullable": true
          },
          "indexed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "event_published": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "TransactionListResponse": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "CreateTransactionRequest": {
        "type": "object",
        "required": [
          "chain_id",
          "contract_type",
          "contract_address",
          "block_number",
          "block_timestamp",
          "transaction_hash",
          "transaction_data",
          "receipt_data",
          "raw_input"
        ],
        "properties": {
          "chain_id": {
            "type": "integer"
          },
          "contract_type": {
            "type": "string"
          },
          "contract_address": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "block_number": {
            "type": "integer"
          },
          "block_timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "transaction_hash": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{64}$"
          },
          "transaction_data": {
            "type": "object"
          },
          "receipt_data": {
            "type": "object"
          },
          "raw_input": {
            "type": "string"
          },
          "parsed_input": {
            "type": "object"
          },
          "parsed_events": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "document_data": {
            "type": "object"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "request_id": {
                "type": "string"
              },
              "details": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "responses": {
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validation error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Conflict": {
        "description": "Resource conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Workflows",
      "description": "Workflow registry endpoints"
    },
    {
      "name": "Chains",
      "description": "Blockchain chain registry endpoints"
    },
    {
      "name": "Transactions",
      "description": "Transaction indexing and retrieval endpoints"
    }
  ]
}
